.tableAttributeEditor {
    display: flex;
    flex-direction: column;
}


.tableHeader,
.tableRow {
    display: flex;
    gap: 10px;
    padding: 10px 10px;
    border-bottom: 1px solid var(--color-border);
}

header.tableHeader {
    background-color: var(--color-header);
    border-bottom: 1px solid var(--color-border);
}

.tableHeader .tableCell {
    background-color: transparent !important;
    font-weight: bold;
}

.tableCell {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}

input[type="text"],
select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}


.fieldButton {
    composes: round-button from '@/styles/customCommonStyles.module.css';
    border-radius: 15px;
}


