.copyButton {
    display: inline-flex;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--color-border, #dfdfdf);
    border-radius: 4px;
    font-size: 1.2rem;
    transition: transform 0.2s ease, color 0.2s ease;
}

.copyButton:hover {
    transform: scale(1.1);
    color: var(--color-button-hover);
    background-color: transparent;
}

.copyButton:active {
    transform: scale(1);
}

.icon {
    color: var(--color-primary, #333);
}
