html {
    display: flex;
    flex:1;
    min-width: 100%;
    min-height: 100%;
}

#root {
    display: flex;
    min-width: 100%;
    min-height: 100%;
}

body {
    display: flex;
    min-width: 100%;
    min-height: 100%;
    flex-direction: row;
    background-color: var(--color-background);
    color: var(--color-text);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: var(--font-size-xxxlarge);
    font-weight: bold;
}

div:not([class*="ace"]):not([class*="Overlay"]) {
    background-color: var(--color-background);
    color: var(--color-text);
}


input, textarea, select {
    background-color: var(--color-input);
    color: var(--color-text);
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 4px;
    outline: none;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus,
select:focus {
    border-color: var(--color-primary);
}

button {
    background-color: var(--color-button);
    color: var(--color-button-text);
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: var(--color-button-hover);
}

button:disabled {
    background-color: var(--color-border);
    color: var(--color-text);
    cursor: not-allowed;
}
