/* Botón de ayuda */
.round-button {
    border: none;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover y activo */
.round-button:hover {
    transform: scale(1.1);
}

.round-button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}