.popup {
    background-color: var(--theme-color-background);
    color: var(--theme-color-text);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    animation: popup-animation 0.3s ease-in-out;
}

.customCodeSection {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 200px;
}

.customCodeSection label {
    display: block;
    margin-bottom: 0.5rem;

}

@keyframes popup-animation {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header h3 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
    margin: 0;
}

.closeButton, .resetButton {
    background: transparent;
    border: none;
    font-size: var(--font-size-large);
    color: var(--theme-color-text);
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeButton:hover, .resetButton:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.closeButton:hover {
    color: var(--color-danger);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form label {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-medium);
    color: var(--theme-color-text);
}

.form input {
    padding: 8px;
    font-size: var(--font-size-small);
    border: 1px solid var(--theme-color-border);
    border-radius: 5px;
    background-color: var(--theme-color-OnBackground);
    color: var(--theme-color-text);
    outline: none;
    transition: border-color 0.3s ease;
}

.form input:focus {
    border-color: var(--color-primary);
}
