/* ConnectionParametersPopup.module.css */
.popup {
    background: var(--color-background);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.popupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.closeButton, .resetButton {
    background: transparent;
    border: none;
    font-size: var(--font-size-large);
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeButton:hover, .resetButton:hover {
    background-color: transparent;
    transform: scale(1.1);
}

.closeButton:hover {
    color: var(--color-danger);
}
