.action-button {
    display: inline-block;
    position: relative;
}

.action-label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1.5rem;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
}

/* Botón de subida */
.action-label.upload {
    background-color: #007bff; /* Azul */
}

.action-label.upload:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

.action-label.upload:active {
    transform: scale(0.95);
}

/* Botón de descarga */
.action-label.download {
    background-color: #28a745; /* Verde */
}

.action-label.download:hover {
    background-color: #218838;
    transform: scale(1.1);
}

.action-label.download:active {
    transform: scale(0.95);
}

.action-icon {
    font-size: 1.5rem;
}
