.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
}

.mainSection {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.inputSection,
.codeSection {
    display: flex;
    flex: 1;
    width: 50%;
    height: 90vh;
    flex-direction: column;
    padding: 0;
    overflow-x: auto;
}

.inputSection {
    border-radius: 0 10px 0 0;
}


.codeSection {
    border-radius: 10px 0 0 0; /* Top left, Top right, Bottom right, Bottom left */
}


.codeSection .content,
.inputSection .content {
    flex: 1 1 auto; /* Ajusta el tamaño automáticamente según el contenido */
    background-color: var(--theme-color-background);
    padding: 0;
    overflow-y: auto;
}


.inputSection h3,
.codeSection h3 {
    margin: 10px;
    font-size: var(--font-size-medium);
    text-align: center;
    color: var(--theme-color-text);
}


.codeHeader {
    display: flex;
    flex: 0.08;
    justify-content: space-between;
    padding: 5px 0;
}

.codeLink {
    display: flex;
    align-items: center;
    gap: 10px;
}

.connectionButton {
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    font-size: var(--font-size-xlarge);
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-border-light);
    transition: all 0.3s ease;
}

/* Set tabs all to the right */

.connectionButton:hover {
    transform: scale(1.1);
    background-color: transparent;
}

.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-border-light);
}

.tabTableName {
    display: flex;
    align-items: center;
    background-color: var(--theme-color-border) !important;
    gap: 10px;
    padding: 0 10px;
    border-bottom: 2px solid var(--theme-color-text);

}

.tableNameInput {
    flex: 1;
    margin: 0;
    padding: 8px 12px !important; /* Ajusta el espaciado interno */
    border: none !important; /* Elimina todos los bordes */
    border-radius: 0 !important;
    text-align: left !important;
    font-size: var(--font-size-medium);
    color: var(--theme-color-text);
    background-color: transparent;
}
.tableNameInput::placeholder {
    color: var(--theme-color-text);
}

.tabButtons {
    display: flex;
    gap: 0;
}

/* Estilos para el botón de selección de sección */
.sectionSelectionButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 16px;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-light);
    color: var(--color-primary);
    border-radius: 0;
    background-color: var(--theme-color-background);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.sectionSelectionButton:hover {
    background-color: transparent;
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.sectionSelectionButton.activeTab {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    font-weight: var(--font-weight-bold);
}


@media (max-width: 1024px) {
    .mainSection {
        flex-direction: column;
    }

    .inputSection,
    .codeSection {
        width: 100%;
    }
}