@import url('@/styles/formalizer.css');
@import url('@/styles/theme/theme.css');
@import url('@/styles/baseStyles.css');


.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header styles */
.app-header {
    position: sticky; /* Ensures the header stays at the top while scrolling */
    top: 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--theme-color-background);
    z-index: 1000; /* Ensure it's above the content but below other fixed elements */
}

/* Buttons container inside header */
.header-buttons {
    display: flex;
    gap: 10px;
}

/* Main content styles */
.app-content {
    flex: 1;

    overflow-y: auto; /* Ensure scrollable content if necessary */
}

.error {
    color: var(--color-danger);
    padding:10px;
}

