/* Contenido del popup */
.popupContent {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 20px;
    max-width: fit-content;
    width: 90%;
    text-align: left;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

