.generate-button {
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estado deshabilitado */
.generate-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Hover (solo si no está deshabilitado) */
.generate-button:hover:not(:disabled) {
    background-color: var(--color-button-hover);
}

/* Modo horizontal (por defecto) */
.generate-button.horizontal {
    flex-direction: row;
}

/* Modo vertical */
.generate-button.vertical {
    flex-direction: column;
}
