/* Colores base */
:root {
    --french-violet-dark: #600099;
    --french-violet: #7400b8ff;
    --grape: #6930c3ff;
    --slate-blue: #5e60ceff;
    --united-nations-blue: #5390d9ff;
    --picton-blue: #4ea8deff;
    --aero: #48bfe3ff;
    --aero-dark: #0a9396;
    --sky-blue: #56cfe1ff;
    --tiffany-blue: #64dfdfff;
    --turquoise: #72efddff;
    --aquamarine: #80ffdbff;

    /* CSS HEX */
    --neon-blue: #5465ffff;
    --cornflower-blue: #788bffff;
    --jordy-blue: #9bb1ffff;
    --periwinkle: #bfd7ffff;
    --light-cyan: #e2fdffff;

    /* CSS hex DARK */
    --neon-blue-dark: #293177;
    --cornflower-blue-dark: #2b49f8;
    --jordy-blue-dark: #2e344a;
    --periwinkle-dark: #3b424d;
    --dark-cyan: #353b3b;

    --color-primary: var(--french-violet);
    --color-primary-light: var(--slate-blue);
    --color-primary-dark: var(--french-violet-dark);
    --color-secondary: var(--aero);
    --color-secondary-dark: var(--aero-dark);

    --color-success: #28a745; /* Verde éxito */
    --color-danger: #dc3545; /* Rojo peligro */
    --color-warning: #ffc107; /* Amarillo advertencia */
    --color-info: #17a2b8; /* Azul información */

    --color-text-light: #f9f9f9; /* Texto claro */
    --color-text-dark: #333; /* Texto oscuro */

    --color-background-light: #efefef; /* Fondo claro */
    --color-background-dark: #2f2f2f; /* Fondo oscuro */

    --color-border-light: #ccc; /* Borde claro */
    --color-border-dark: #444; /* Borde oscuro */

    --color-input-light: #f9f9f9; /* Fondo input claro */
    --color-input-dark: #222; /* Fondo input oscuro */

    /* Font styles and sizes */
    --font-size-small: 0.8rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.2rem;
    --font-size-xlarge: 1.4rem;
    --font-size-xxlarge: 1.6rem;
    --font-size-xxxlarge: 1.8rem;
}

/*For all themes*/
.theme {
    flex: 1;
}

/* Tema claro */
.lightTheme {
    --color-background: var(--color-background-light);
    --color-background-secondary: var(--color-secondary);
    --color-text: var(--color-text-dark);
    --color-border: var(--color-border-light);
    --color-input: var(--color-input-light);
    --color-button: var(--color-primary);
    --color-button-text: var(--color-text-light);
    --color-button-hover: var(--color-primary-dark);
}

/* Tema oscuro */
.darkTheme {
    --color-background: var(--color-background-dark);
    --color-background-secondary: var(--color-secondary-dark);
    --color-text: var(--color-text-light);
    --color-border: var(--color-border-dark);
    --color-input: var(--color-input-dark);
    --color-button: var(--color-primary-dark);
    --color-button-text: var(--color-text-light);
    --color-button-hover: var(--color-primary-light);
}
