.container {
    display: flex;
    flex: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.conditionsSection,
.textSection {
    display: flex;
    flex: 1;
    width: 50%;
    height: 90vh;
    flex-direction: column;
    padding: 10px;
    overflow-x: auto;
}

.conditionsSection {
    border-radius: 0 20px 0 0;
}

.textSection {
    border-radius: 20px 0 0 0;
}

/* Bloque contenedor del área de texto y resultados */
.textAnalysisBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--theme-color-background);
    border-radius: 10px;
    padding: 10px;
}

/* Estilo del textarea */
.textArea {
    display: flex;
    flex: 1;
    padding: 10px;
    font-size: var(--font-size-medium);
    color: var(--theme-color-text);
    background-color: var(--theme-color-background);
    border: 1px solid var(--color-border-light);
    border-radius: 5px;
    resize: none; /* permite redimensionar verticalmente */
    overflow-y: auto; /* muestra barra de scroll vertical */
    white-space: pre-wrap; /* Respeta los saltos de línea */

}

.analyzeButton {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-border-light);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.analyzeButton:hover {
    background-color: var(--color-border-light);
    transform: scale(1.03);
}
/* Contenedor para el texto resaltado */

/* Media query para adaptar a pantallas pequeñas */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
    }

    .conditionsSection,
    .textSection {
        width: 100%;
    }
}
